section
  .shop
    .container
      .row
        .shop__products
          .shop__header

            .shop__grid.shop__header-col
              a.shop__grid-link(href="#")
                img.shop__grid-icon(src="src/svg/table-grid.svg", alt="table-grid")
              a.shop__grid-link(href="#")
                img.shop__grid-icon(src="src/svg/row-grid.svg", alt="row-grid")

            .shop__colors.shop__header-col
              a.shop__color(href="#")
              a.shop__color(href="#")
              a.shop__color(href="#")
              a.shop__color(href="#")
              a.shop__color(href="#")
              a.shop__color(href="#")
              a.shop__color(href="#")

            -
              var sort= [{
                        name: 'Sort by:',
                        title:'Date',
                        text:""
                        },{
                        name: '',
                        title:'Shows',
                        text:"12"
                        }]
            each item in sort
              .shop__sort.shop__header-col
                span.shop__sort-text= item.name 
                span.shop__sort-text= item.title
                span.shop__sort-text= item.text
                button.shop__sort-link(href="#")
                    img.shop__sort-arrow(src="src/svg/down-arrow.svg", alt="more")

          .shop__cards
            - for (var i = 1; i <= 4; i++)
              include ../components/_shop-card   

          ul.shop__pag
            -
              var pages= ["Prev",
                           "1", 
                           "2", 
                           "3", 
                           "4", 
                           "5",
                           "Next"]
            each item in pages
              li.shop__pag-item
                a.shop__pag-link(href="#")= item 
            

        aside.shop__aside   
          .shop__aside-part
            span.shop__aside-title CATEGORY
            ul.shop__aside-list
              -
                var category= [{
                            text:'Women',
                            quant:'(19)'
                            },{
                            text:'Man',
                            quant:'(10)'
                            },{
                            text:'Kids',
                            quant:'(4)'
                            },{
                            text:'Bags',
                            quant:'(5)'
                            },{
                            text:'Accessories',
                            quant:'(2)'
                            },{
                            text:'Watch',
                            quant:'(7)'
                            }]
              each item in category
                li.shop__aside-row
                  a.shop__aside-item(href="#")= item.text 
                  span.shop__aside-quant= item.quant
            
          .shop__aside-part
            span.shop__aside-title-price.shop__aside-title PRICE BY FILTER
            .shop__aside-slider
            .shop__aside-slider_under
              .shop__aside-interval
                span.shop__aside-price Price: $
                input.shop__aside-input(type='text' name='name' placeholder='250')
                span.shop__aside-price -$
                input.shop__aside-input(type='text' name='name' placeholder='100')
              a.shop__aside-btn.btn(href="#")
                span.btn-text Filter
                  
          .shop__aside-part
            span.shop__aside-title SIZE
            ul.shop__aside-list
              -
                var size=[{
                            text:'S',
                            quant:'(19)'
                            },{
                            text:'M',
                            quant:'(10)'
                            },{
                            text:'L',
                            quant:'(4)'
                            },{
                            text:'XL',
                            quant:'(5)'
                            },{
                            text:'XXL',
                            quant:'(2)'
                            }]
                
              each item in size 
                li.shop__aside-row
                  input(type="radio" checked name="raz").shop__aside-input
                  a.shop__aside-item(href="#")= item.text 
                  span.shop__aside-quant= item.quant
            
          .shop__aside-part
            span.shop__aside-title BEST SALE

            -
              var top= [{
                         img:'src/img/top-white.png',
                         name:"Denim t-shirt for boys",
                         price:'$289-$250'
                         }, {
                        img:'src/img/top-blue.png',
                         name:"Denim t-shirt for boys",
                         price:'$289-$250'
                         }]
            each item in top
              .shop__aside-card
                a.shop__card-pict(href="#")
                  img.shop__card-img(src= item.img, alt="t-shirt") 
                .shop__card-info
                  a.shop__card-name(href="#")= item.name
                  br
                  img.shop__stars(src="src/svg/star.svg", alt="stars")
                  img.shop__stars(src="src/svg/star.svg", alt="stars")
                  img.shop__stars(src="src/svg/star.svg", alt="stars")
                  img.shop__stars(src="src/svg/star.svg", alt="stars")
                  img.shop__stars(src="src/svg/star.svg", alt="stars")
                  br
                  span.shop__card-price= item.price
            

          .shop__aside-part
            span.shop__aside-title KEYWORD
            .shop__asid-line
              -
                var keyword= ["T-shirt",
                              "Black", 
                              "White",
                              "Fashion", 
                              "Woman", 
                              "Man"]
              each item in keyword
                a.shop__aside-keyword.btn(href="#")
                  span.btn-text= item  